app.js
app.js.map
node_modules
debug.log

bin/

# Ignore changes to this from here on out
Dockerrun.aws.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
